[submodule "3rdparty/fir"]
	path = 3rdparty/fir
	url = git@github.com:omgbebebe/haskan2-fir.git
[submodule "3rdparty/gltf"]
	path = 3rdparty/gltf
	url = https://gitlab.com/dpwiz/gltf.git
[submodule "3rdparty/imgui"]
	path = 3rdparty/imgui
	url = https://github.com/ocornut/imgui
[submodule "3rdparty/dear-imgui"]
	path = 3rdparty/dear-imgui
	url = git@github.com:omgbebebe/dear-imgui.hs.git
	branch = haskan2
